@font-face {
  font-family: "molot";
  font-style: normal;
  src: url("/fonts/molot.otf");
}

@font-face {
  font-family: "source-sans-pro";
  font-style: normal;
  src: url("/fonts/source-sans-pro.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "molot";
  /* overflow: hidden; */
}

a {
  color: inherit;
}

img {
  user-select: none;
}

.main {
  overflow-x: hidden;
}

/* Blocks */

.block {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

.block.intro {
  background-color: #ffd53b;
  color: rgb(24, 24, 24);
}

.block.about {
  background-color: #61a9c5;
  color: rgb(24, 24, 24);
}

.block.projects {
  background-color: rgb(173, 216, 133);
  color: rgb(24, 24, 24);
}

.block.contacts {
  background-color: #a4caba;
  color: rgb(24, 24, 24);
}

.block.contacts {
  text-decoration: none;
}

/* Intro block */

.intro .name {
  font-size: 11vmax;
}

.intro .title {
  margin-top: 1vh;
  font-size: 4vmax;
}

.intro .icons {
  user-select: none;
}

.intro .icons .stack,
.intro .icons .contacts {
  padding-top: 2vh;
}

.intro .icons .stack img {
  width: 5vmax;
  height: 5vmax;
}

.intro .icons .contacts img {
  width: 3vmax;
  height: 3vmax;
}

/* About block */

.about .box {
  width: 43vmax;
  border: 3px #78b6ce solid;
  background-color: #8fc2d6;
}

.about .box .text {
  font-size: 2.5vh;
  padding: 1.5vh;
  padding-top: 0vh;
  overflow: visible;
  text-align: justify;
}

.about .box .photo {
  padding: 1.5vh;
  float: left;
  shape-outside: circle();
  background-clip: content-box;
  border-radius: 50%;
  width: 25vh;
  overflow: clip;
}

/* Projects block */

.projects .title {
  font-size: 6vh;
  padding-top: 5vh;
}

.projects .items {
  font-size: 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.projects .items .item {
  background-color: white;
  border: 3px solid black;
  width: 30vh;
  margin: 1.5vh;
  display: flex;
  flex-flow: column;
  justify-content: baseline;
  padding-bottom: 1vh;
}

.projects .items .item .general {
  padding: 15px;
}

.projects .items .item .general .name {
  font-size: 2.7vh;
}

.projects .items .item .general .status {
  font-size: 1.8vh;
}

.projects .items .item .general .status.active {
  background-color: darkgreen;
  color: wheat;
  padding: 0px 3px 0px 3px;
}

.projects .items .item .general .status.early_access {
  background-color: rgb(198, 201, 40);
  color: rgb(60, 60, 85);
  padding: 0px 3px 0px 3px;
}

.projects .items .item .general .status.internal_testing {
  background-color: rgb(201, 40, 166);
  color: rgb(236, 236, 236);
  padding: 0px 3px 0px 3px;
}

.projects .items .item .general .status.in_progress {
  background-color: rgb(201, 145, 40);
  color: rgb(19, 19, 19);
  padding: 0px 3px 0px 3px;
}

.projects .items .item .general .status.idea {
  background-color: rgb(55, 189, 189);
  color: rgb(18, 18, 31);
  padding: 0px 3px 0px 3px;
}
.projects .items .item .general .status.paused {
  background-color: rgb(194, 194, 194);
  color: rgb(49, 49, 49);
  padding: 0px 3px 0px 3px;
}

.projects .items .item .general .status.abandoned {
  background-color: rgb(15, 15, 15);
  color: rgb(238, 238, 238);
  padding: 0px 3px 0px 3px;
}

.projects .items .item .description {
  font-family: "source-sans-pro";
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
  flex-grow: 2;
}

.projects .items .item .open-sourced {
  font-size: 1.7vh;
}

.projects .items .item .stack {
  margin-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.projects .items .item .stack img {
  width: 3vh;
  height: 3vh;
}

/* Contacts block */

.contacts .title {
  font-size: 6vh;
  padding-top: 5vh;
}

.contacts .links {
  padding: 2vh 5vh 2vh 5vh;
  background-color: #c4eada;
}

.contacts .link {
  font-size: 4vh;
}

.contacts .link img {
  width: 4vh;
  height: 4vh;
}

.contacts .link.linkedin {
  color: #0a66c2;
}

.contacts .link.telegram {
  color: #229ed9;
}

.contacts .link.email {
  color: rgb(62, 126, 42);
}
