<div class="block about">
  <div class="box">
    <img class="photo" src="<%= localization["author.photo"] %>" alt="<%= localization["author.name"] %>" />
    <p class="text"><%= localization["author.about"] %></p>
  </div>
</div>
